a:visited {color:#333;} /*訪問済みのリンクの色*/
a:link {color:#999;} /*訪問済みのリンクの色*/
a{
  display: inline;
}
body{
  background-color: #000;
  color: #999;
}
.upper{
  height: 40%;
}
.livecam{
  position: fixed;
  top: 75;
  right: 25;
}
.RSS_fead{
  width: 16em
}
.switch__label {
  width: 50px;
  position: fixed;
  top: 25;
  right: 25;
  display: inline-block;
}
.switch__content {
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  height: 31px;
  overflow: hidden;
}
.switch__content:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  top: 0;
  left: 0;
  border: 1.5px solid #000;
  border-radius: 30px;
  background-color: #000;
}
.switch__content:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
}
.switch__input {
  display: none;
}
.switch__circle {
  display: block;
  top: 2px;
  left: 2px;
  position: absolute;
  -webkit-box-shadow: 0 2px 6px #999;
          box-shadow: 0 2px 6px #999;
  width: 27px;
  height: 27px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-color: #fff;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
}
.switch__input:checked ~ .switch__circle {
  left: 21px;
}
.switch__input:checked ~ .switch__content:after {
  background-color: #FFF;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#day{
  font-size: 4em;
}
#clock{
  font-size: 8em;
}
.clock_area
 {

  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}
.clock_area p {
  text-align: center;
  margin: 0;
}


#google_img{
  padding: 0 8px 0 0 ;
}
input#search_form{
  font-size: 1.5em;
  border:none;
  border-radius:4px;
  box-shadow: none;
  padding: 2px 8px;
  background-color: #b4b4b4;
}
.search_bar{
  display:flex;
  justify-content: center;
}
.calendar {
  font-size: 1.5em;
  text-align: center;
  position: fixed;
  bottom: 25;
  right: 25;
  height: 400px;
  /* width: 100%; */
}
  .calendar_button{
    background-color: gray;
    border-width: 0;
  }

  .calendar > h1{
    text-align: center;
    margin: 0;
  }
  #calendar_main > table{
    font-size: 1em;
    border-collapse: separate;
    text-align: center;
  }
  #calendar_main > th,td{
    padding: 5px;
  }
  #calendar_main > * > * > * > td:first-child {
    color: rgb(180, 0, 0);
  }
  #calendar_main > * > * > * > td:last-child {
    color: rgb(110, 110, 255);
  }
  #calendar_main > * > * > * > td.disabled {
    color: #333;
  }
  #calendar_main > * > * > * > td.today {
    background-color: #5c212b;
    color: #999;
  }

.weather_comp {
    position: fixed;
    bottom: 25;
    left: 25;
}
.weatherForecast {
    width: 840px;
    height: 120px;
    display: flex;
    text-align: center;
    /* border: 1px solid #ffffff; */
  }

  .weather {
    width: calc(100% / 7);
    height: 100%;
    box-sizing: border-box;
    /* border: 1px solid #ffffff; */
  }
  
  .weather > div {
    height: 20%;
    font-size: 14px;
  }
  
  .weatherImg {
    height: 42%;
  }
  
  .tempMin {
    color: rgb(110, 110, 255);
  }
  
  .tempMax {
    color: rgb(180, 0, 0);
  }